#myCanvas {
   width: 100%;
   height: 100%;
}

body, html {
   margin: 0px;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

body {
   display: table;
}

#header, #canvasWrapper {
   width: 100%;
   display: table-row;
}

#header {
   background: #DDDDDD;
}

#controlsWrapper {
   padding: 5px 5px 5px 5px;
   display: table;
   margin: 0 auto;
}

#newWrapper {
   float: left;
   margin-right: 20px;
}

#canvasWrapper {
   background: #FFFFFF;
   height: 100%;
}

#sliderWrapper {
   float: left;
   margin-right: 10px;
}

#buttonWrapper {
   float: left;
}
